binds {

    //
    // Clipboard
    //

    // Clipboard History (Rofi)
    Alt+V {
        spawn "~/.config/niri/scripts/clipboard/cliphist-history.sh";
    }

    // Clear Clipboard
    Ctrl+Alt+C {
        spawn "~/.config/niri/scripts/clipboard/cliphist-clear.sh";
    }
}
