# Browsers
BraveSoftware/
mozilla/

# Applications
Bitwarden/
GIMP/
MultiViewer/
VirtualBox/
audacity/
converseen/
glow/
htop/
onlyoffice/
procps/
qpdfview/
rncbc.org/
spotify/
uad/
xfce4/

# Runtime & application state
Electron/
celluloid/watch_later/
autostart/

# System-generated
dconf/
pipewire/
pulse/
wireplumber/
QtProject.conf
mimeapps.list
user-dirs.*

# Machine-specific
fish/fish_variables*
gtk-3.0/bookmarks
pavucontrol.ini
qimgv/qimgv.conf
qimgv/savedState.conf
waypaper/config.ini
Thunar/renamerrc

# Crash reports
Crashpad/
Crash Reports/

# Log files
*.log

# Temporary & backup files
*.bak
*.save
*.tmp
*~
*.swp
*.swo

# SQLite runtime
*.db-journal
*-journal
*.sqlite-shm
*.sqlite-wal

# Runtime sockets
*.sock
