layout {

    // =====================================================
    // Window Spacing
    // =====================================================

    gaps 10

    // =====================================================
    // Focus Indicator
    // =====================================================

    focus-ring {
        off
    }

    // =====================================================
    // Window Borders
    // =====================================================

    border {
        on

        width 1.5

        active-gradient from="#89b4fa" to="#cba6f7" angle=45
        inactive-color "#595959aa"
    }
}
