// =====================================================
// Wallpaper
// =====================================================

// Restore the previously selected wallpaper.
spawn-at-startup "waypaper" "--restore"
