// =====================================================
// Authentication Dialogs
// =====================================================

window-rule {
    match app-id="hyprpolkitagent"

    open-floating true

    default-column-width {
        fixed 520
    }

    default-window-height {
        fixed 260
    }
}

// =====================================================
// File Picker Dialogs
// =====================================================

window-rule {
    match app-id="xdg-desktop-portal-gtk"

    open-floating true

    default-column-width {
        fixed 900
    }

    default-window-height {
        fixed 650
    }
}
